*{
    margin: 0;
    padding: 0;
    
}
.page{
    padding: 60px 30px;
}
#main-info{
    background-color: #ecf0f1;
    padding: 60px 30px;
}
#main-info{
    margin-bottom: 50px;
}
#main-info .pic{
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
    background-color: white;
   

}
#main-info .pic img{
    width: 200px;
    height: 200px;
    border: red;
    margin: 20px;
    padding: 20px;
    
    object-fit: contain;
    
}
#health{
    background-color: aquamarine;

}
#health img{
    width: 500px;
    height: 400px;
    

}
#health p{
    width: 400;
}
#types{
    background-color: #c7ecee;
}
#types ul{
    margin: 40px 0;
   list-style-image: url("../media/fire_1.png");
   padding-left: 40px;
}
#types li{
    margin: 10px;
}

